
<div class="container bg-light">
    <div class="row">
        <div class="panel-heading">
            <h2 style="color:blue; text-align: center;" class="font-weight-bold pt-3" >User Login </h2>
        </div>
        <div class="panel-body">
            <form action="" #tdULform="ngForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <div class="input-field">
                        <label for="username"><span class="fa fa-user p-2"></span>Enter the Username : </label>
                        <input type="text" placeholder="Username" name="username" class="form-control"[(ngModel)]="username" required>
                    </div>
                </div>
                <div class="form-group pt-3">
                    <div class="input-field">
                        <label for="password"><span class="fa fa-lock p-2"></span>Enter the Password : </label>
                        <input type="password" placeholder="Password" name="password" class="form-control" [(ngModel)]="password" required>
                    </div>
                </div>
                <div class="form-inline fr mt-4">
                    <a href="" id="link" class="font-weight-bold">Forgot the Password?</a>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4">
                        <button class="btn btn-primary btn-block mt-4 " type="submit" 
                        (click)="onVerification()" style="text-align:center;" [disabled]="!tdULform.valid"> 
                           Login    <span class="fa fa-key"></span>
                        </button>
                    </div>
                <div class="col-md-4"><button class="btn btn-primary btn-blcok mt-4" type="button" routerLink="/register"> Register<span class="fa fa-user-plus"></span> </button></div>

                </div>
            </form>
        </div>
    </div>
</div>