<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3 style="color: blue; font-style: italic;">Damien Airline</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-7">
            <p>this is my forst app for airline ticketing system project started on oct 06 from scratch</p>
        </div>
    </div>
    <div class="conatiner">
        <div class="row">
            <div class="col-md-12">
              
            </div>
        </div>
    </div>
</div>